<main class="main">
  <div class="wrapper">
    <form class="search-form js-search-form" action="" method="POST">
      <input type="text" id="search-input" class="search-input" placeholder="Escribe aqui...
        ">
      <button type="button" id="search-btn" class="search-button">Buscar</button>
      <button type="reset" class="search-button js-reset-fav-button">Borrar
        favoritos</button>
    </form>
    <section class=" results">
      <ul id="series-list" class="js-series-list">
      </ul>
      <div class="js-fav-box">
        <h3 class="fav-title">Tus favoritas</h3>
        <ul class="fav-list js-fav-list"></ul>
      </div>
    </section>
  </div>
</main>